grid.nzbdstatus-tooltip-data row description:first-child {
text-align:right;
font-weight:bold;
}
grid.nzbdstatus-tooltip-data progressmeter.nzbdstatus-mbleft {
min-width:100px;
}
.nzbdstatus-hidden {
visibility:collapse;
}