img.nzboneclick {
cursor:pointer;
}

ul.nzbdservers {
list-style-type:none;
line-height:16px;
padding:.5em 0;
margin:0;
border:1px solid black;
position:absolute;
display:none;
top:0;
left:0;
width:auto;
visibility:visible;
cursor:pointer;
}
ul.nzbdservers li {
display:block;
cursor:pointer;
}
ul.nzbdservers li img {
margin-right:.5em;
}
ul.nzbdservers li a {
padding:0 1em;
}
.hideme {
display:none;
}
.showme {
display:block;
}